process {
    withName: 'estimateRho|runPhastCons' {
        beforeScript = 'source /private/home/bcolquit/.bashrc'
    }
}

executor {
    queueSize = 100
}

trace {
    enabled = true
    file = 'trace.tsv'
    fields = 'task_id,name,status,exit,attempt,memory,peak_rss,duration,realtime'
    sep = '\t'
}
