params {
    maf_dir           = null   // Directory containing per-chromosome MAF files
    config_template   = "${projectDir}/maffilter_template.txt"
    results_dir       = "./results"
}

executor {
    queueSize = 500
}

process {
    withName: 'runMafFilter' {
        beforeScript = 'source /private/home/bcolquit/.bashrc'
    }
}
